<section class="container pt-3">
  <section class="row justify-content-sm-center">
    <section class="col-lg-5 col-md-8 col-sm-8 col-xs-10">
      <section class="card border-info">
        <section class="card-header">Login</section>
        <section class="card-body">
          <section class="row">
            <section class="col-md-4 text-center">
              <img src="https://placeimg.com/128/128/nature">
            </section>
            <section class="col-md-8">
              <form [formGroup]="credentials">
                <input formControlName="email" type="text" class="form-control mb-2" placeholder="Email" autofocus>
                <input formControlName="password" type="password" class="form-control mb-2" placeholder="Password"
                  required>
                <button (click)="login()" class="btn btn-lg btn-primary btn-block mb-1" type="button">Login</button>
              </form>
            </section>
          </section>
          <ngb-alert class="mt-4" *ngIf="error" type="danger" (close)="close()">
            {{ error }}
          </ngb-alert>
        </section>
        
      </section>
    </section>
  </section>
</section>


