<app-header></app-header>
<section [ngStyle]="movie.backdrop_path ? {'background-image': 'url(' + movie.backdrop_path + ')' }: ''">
  <section class="container">
    <section class="row">
      <section class="col-lg-6" style="line-height: 350px;">
        <img width="100%" *ngIf="movie.poster_path" [src]="movie.poster_path" alt="">
      </section>
      <section class="col-lg-6">
        <section class="card" style="background-color: rgba(255, 255, 255, 0.582);">
          <section class="card-body">
            <span class="rating">{{ movie.vote_average | number: '1.1-1' }}</span>
            <h1>{{ movie.title }}({{ movie.release_date | date:'yyyy' }}) <app-favourite *ngIf="movie.id" [movieId]="movie.id">
              </app-favourite>
            </h1>
            <p>{{ movie.tagline }}</p>
            <section class="row ">
              <section class="list-group-item col-lg-4">
                Original Title
              </section>
              <section class="list-group-item col-8">
                {{ movie.original_title }}
              </section>
              <section class="list-group-item col-lg-4">
                Rating
              </section>
              <section class="list-group-item col-8">
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
                </ng-template>
                <ngb-rating class="star" [rate]="movie.vote_average" [starTemplate]="t" [readonly]="true" max="10">
                </ngb-rating>
              </section>
              <section class="list-group-item col-lg-4">
                Vote Count
              </section>
              <section class="list-group-item col-lg-8">
                {{ movie.vote_count }} (Average {{ movie.vote_average }})
              </section>
              <section class="list-group-item col-lg-4">
                Release Date
              </section>
              <section class="list-group-item col-lg-8">
                {{ movie.release_date }}
              </section>
              <section class="list-group-item col-lg-4">
                Runtime
              </section>
              <section class="list-group-item col-lg-8">
                {{ movie.runtime | hrsMinutes }}
              </section>

            </section>
          </section>
        </section>
      </section>
      <section class="col-sm-12">
        <section class="card">
          <section class="card-body">
            <h2>Genres</h2>
            <span *ngFor="let genre of movie.genres"> {{ genre.name }}</span>
          </section>
        </section>

      </section>
      <section class="col-sm-12">
        <section class="card">
          <section class="card-body">
            <h2>Production Companies</h2>
            <span *ngFor="let company of movie.production_companies"> {{ company.name }}</span>
          </section>
        </section>
      </section>
      <section class="col-sm-12">
        <section class="card">
          <section class="card-body">
            <h2>Overview</h2>
            <p>{{ movie.overview }}</p>
          </section>
        </section>
      </section>

    </section>
  </section>
<app-footer></app-footer>

</section>
