<section style="background-color: #e3f2fd;">
  <nav class="navbar-light">
    <ul class="nav justify-content-end">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a style="color: darkblue;" [routerLink]="['/register']" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a style="color: darkblue;" [routerLink]="['/login']" class="nav-link">Login</a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item" ngbDropdown aria-label="User Profile Button">
        <a class="nav-link" href="#Login" ngbDropdownToggle style="color: darkblue;">
          <span *ngIf="user && user.displayName">Hello {{ user.displayName }}</span>
          <span *ngIf="!(user && user.displayName)">{{ publicAuth.user?.email }}</span>
        </a>
        <section class="dropdown-menu" ngbDropdownMenu>
          <a style="color: darkblue;" ngbDropdownItem href="#one">My Movies</a>
          <a style="color: darkblue;" (click)="logout()" ngbDropdownItem href="#">Logout</a>
        </section>
      </li>
      <li (click)="logout()" *ngIf="isLoggedIn" class="nav-item" aria-label="Log Out Button">
        <a style="color: darkblue;" href="#" class="nav-link">LOGOUT</a>
      </li>
    </ul>

    <a class="navbar-brand d-none d-md-block" href="#">Mini Netflix</a>

  </nav>

  <section class="row justify-content-sm-center page">
    <h1 class="col-sm-8 col-md-12 page-title"> Mini Netflix</h1>
    <h2 class="col-sm-8 page-title-description">Your Home Theatre Partner!</h2>
  </section>