.page {
   margin-top: -30px;
}

.page-title {
  text-align: center;
  font-size: 90px;
  line-height: 80px;
  font-weight: 800;
  color: rgb(231, 67, 67);
 
}

.page-title-description {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 8px;
   padding-bottom: 25px;
}
