<owl-carousel-o [options]="customOptions">
  <ng-container style="padding: 10px;" *ngFor=" let slide of displayMovies; let i=index">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="imageUrl + slide.poster_path" [alt]="slide.alt" [title]="slide.title">
      <section style="text-align: center;">
        <span class="pl-1">{{ slide.title }}</span> <span>({{ slide.release_date | date:'yyyy' }})</span>
      </section>
    </ng-template>
  </ng-container>
</owl-carousel-o>
<section style="overflow: scroll;">
  <ngb-pagination class="pagination" [(page)]="displayRange.currentPage" (pageChange)="pageChange()" [pageSize]="displayRange.size"
    [collectionSize]="movieDetails.total_movies">
  </ngb-pagination>
</section>
