<owl-carousel-o [options]="customOptions">
  <ng-container style="padding: 10px;" *ngFor=" let movie of displayMovies; let i=index">
    <ng-template carouselSlide [id]="movie.id">
      <a href="#" [routerLink]="['/view/' + movie.id]" class="btn btn-info btn-sm"
        style="color: white; cursor: pointer; position: absolute; bottom: 30px; right: 10px; background: #543902;"
        type="button">view details...</a>
      <img [src]="imageUrl + movie.poster_path" [alt]="movie.alt" [title]="movie.title">
      <section style="text-align: center;">
        <span class="pl-1">{{ movie.title }}</span> <span>({{ movie.release_date | date:'yyyy' }})</span>
      </section>
    </ng-template>
  </ng-container>
</owl-carousel-o>
<section style="overflow: scroll;">
  <ngb-pagination class="pagination" [(page)]="displayRange.currentPage" (pageChange)="pageChange()"
    [pageSize]="displayRange.size" [collectionSize]="movieDetails.total_movies">
  </ngb-pagination>
</section>
