<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a [routerLink]="['/register']" class="nav-link" >Sign Up</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']" class="nav-link">Login</a>
    </li>

     <li *ngIf="isLoggedIn" class="nav-item" ngbDropdown aria-label="User Profile Button">
       <a class="nav-link" href="#Login" ngbDropdownToggle>
           <span *ngIf="user && user.displayName">Hello {{ user.displayName }}</span>
           <span *ngIf="!(user && user.displayName)">{{ auth.user?.email }}</span>
       </a>
       <section class="dropdown-menu" ngbDropdownMenu>
           <a ngbDropdownItem href="#one">My Movies</a>
           <a (click)="logout()" ngbDropdownItem href="#">Logout</a>
       </section>
     </li>
  </ul>
</nav>
<section class="card">
  <section class="card-body">
   <section class="page-title"> Mini Netflix</section>
    <section class="page-title-description">Your Home Theatre Partner!</section>
  </section>
</section>
<app-all-movies-carousel></app-all-movies-carousel>
<router-outlet></router-outlet>
