<footer class="card">
    <section class="d-flex flex-wrap justify-content-around">
        <section class="list-group-item col-lg-2 col-md-3 col-sm-3 col-xs-10">
            <a href="#" [routerLink]="['/']">Home</a>
        </section>
        <section class="list-group-item col-lg-2 col-md-3 col-sm-3 col-xs-10">
            <a href="#" [routerLink]="['/search']">Search Movies</a>
        </section>
        <section class="list-group-item col-lg-2 col-md-3 col-sm-3 col-xs-10">
          <a href="#" [routerLink]="['/my-movies']">My Favourites</a>
        </section>
    </section>
</footer>